@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide {
  animation: slide 0.5s ease-in;
}

.home-hero-slider {
  height: calc(100vh - 49px);
}

@media (max-width: 690px) {
  .home-hero-slider {
    height: calc(100vh - 38px);
  }
}
