@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide {
  animation: slide 0.5s ease-in;
}

.home-hero-slider {
  height: calc(100vh - 49px);
}

@media (max-width: 690px) {
  .home-hero-slider {
    height: calc(100vh - 38px);
  }
}

.logo {
  width: 100px;
  height: 22px;
}

@media (min-width: 427px) {
  .logo {
    width: 120px;
    height: 26px;
  }
}

.scroll-container {
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 45s linear infinite;
}
